* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background (clean + premium) */
body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  background: linear-gradient(to top, #2c3e50, #4ca1af);
  color: white;
}

/* Main layout */
.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Search */
.search-box {
  position: absolute;
  top: 30px;
  display: flex;
  gap: 10px;
}

.search-box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 220px;
}

.search-box button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: white;
  cursor: pointer;
}

/* Card */
.weather-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  transition: 0.3s ease;
}

/* Slight hover */
.weather-card:hover {
  transform: translateY(-5px);
}

/* Text */
.weather-card h2 {
  font-size: 22px;
}

.temp {
  font-size: 48px;
  margin: 10px 0;
}

.condition {
  font-size: 16px;
  opacity: 0.8;
}

/* Details */
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.details div {
  text-align: center;
}